/* Add here custom style rules for your views */
ul {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
  margin: 24px 0;
}

.post_link {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 400;
  transition: ease-in-out;
  transition-duration: .7s;
  border: 2px solid black;
}

.post_link:hover {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.spaces {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: nowrap  ;
}
